body {
	background: radial-gradient(#00aeff,#075689);
	color: white;
	font-family: Comic Sans MS;
	margin: auto;
	text-align: center;
}

img {
		transition: transform 1s ease-out;
		transform: scaleX(1) scaleY(1);
	}
	
.click {
	transform: scaleX(0.5) scaleY(0.5);
	
}
	
#cookieCage {
	min-height: 300px;
	max-height: 300px;
}
div {
	font-size:20pt;
}
th, td{
	border: solid 1px white;
	padding: 0.2em 0.5em;
}
table { 
	border-collapse: collapse;
	margin:auto;
	}
.shopItem:hover
{
	cursor: pointer;
	background-color: #00354e;
}